<!DOCTYPE html>
<html ng-app="chatApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body ng-controller="chatCtrl">
  <ul>
    <li ng-repeat="msg in messages">
      {{msg.text}}
      <button ng-click="deleteMessage(msg)">刪除</button>
      <button ng-click="updateMessage(msg)">編輯</button>

    </li>
    <li>
      {{newMessage}}
    </li>
  </ul>
  <form ng-submit="addMessage(newMessage)">
  <input type="text" ng-model="newMessage">
    <button type="submit">Add</button>
  </form>
</body>
</html>
